
# oXygen IDE project files
*.xpr
!*share.xpr

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Typescript output
/pub/lib

# Files not to be propagated
vault/
scratch/

# Temp or junk files
.DS_Store
