/*  CSS for HTML rendition of project XML */ 

section.project {
  border: thin solid black; padding: 0.4em; margin-top: 0.6em }

section > *:first-child { margin-top: 0em }
section > button:first-child + * { margin-top: 0em }
section > *:last-child { margin-bottom: 0em }

p.highlight { font-style: italic }

button.jump { float: right; clear: both }

section.project.planned { background-color: gainsboro; color: #AAA; border: thin dotted black }

section.project.planned:hover { color: darkslategrey }

section.planned a { color: currentColor }

.project-footer p { margin: 0.6em 0em }