/*  CSS for HTML rendition of project XML */ 

.project-directory { display: grid;
grid-template-columns: repeat(auto-fill, minmax(26em,1fr));
gap: 0.4em }

section.project {
  border: medium outset lightsteelblue; padding: 1.2em }

.directory section.project { margin-top: 0.8em }

.tldr { margin-top: 0.8em }

section > *:first-child { margin-top: 0em }
section > button:first-child + * { margin-top: 0em }
section > *:last-child { margin-bottom: 0em }

p.highlight { font-style: italic }

button.jump { float: right; clear: both }

section.project.planned { background-color: gainsboro; color: #AAA; border: thin inset black }

section.project.planned:hover { color: darkslategrey }

section.planned a { color: currentColor }

.project-footer p { margin: 0.6em 0em }

.hotlinks { font-size: smaller; margin: 1em 0em }

.hotlinks * { margin: 0em }
.hotlinks ul { margin-top: 0.5em }
.hotlinks p  { margin-top: 0.5em }

.linkpanels { display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 0.2em;
margin-top: 1em }
